<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cryptocurrency Daily Yield</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../bootstrap-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/theme.css" rel="stylesheet">


</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mined Per Day</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#methodology">Methodology</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/json">JSON</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
      </li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="page-header"><h2><b> Daily USD mined by all Cryptocurrencies - {{ time }} </b></h2>
</div>

<div class="data">
<table class="table table-striped" id="currencies">
    <thead><th>Rank</th><th class="name">Name</th><th>USD Mined per Day (Approximate)</th><th class="percent">% of total USD mined per Day</th></thead>
    <tfoot>
        <tr>
            <td></td><td>Total</td><td>{{totalUSD}}</td><td>100%</td>
        </tr>
    </tfoot>
    <tbody>
    {% for i in data %}
    <tr><td class="number">{{data.index(i) + 1}}</td><td>{% if coin_urls[i[2]] %}<a class="coin" href={{coin_urls[i[2]]}}>{% endif %} {{ i[0] }} {% if coin_urls[i[2]] %}</a>{% endif %}({{i[2]}}){% if i[2] in scams %}*{% endif %}</td><td class="value">{{i[1]}}</td><td class="percent">{{ i[3] }}%</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div id="footer">
<div id="methodology">

<div class="jumbotron">
<h2>Methodology</h2>
All figures are estimates using current exchange rates and target block generation times.
These figures are updated every 10 minutes, and by combining the current selling
price of each digital currency with the number of coins relased each day, we
can produce the total amount of USD revenue generated by each coin.
For extremely popular coins such as bitcoin and litecoin, the mining power 
increases so quickly that the average block generation time is slightly faster
than the target (for example, each bitcoin block is mined slightly faster than
the "target" 10 minute block time) because the computing power of the network
grows exponentially. Because of this, the values shown for bitcoin
(and to a lesser extent, litecoin), and slightly below the actual values.
<br> JSON available <a href="http://www.minedperday.appspot.com/json">here</a>.
<br>BTC: 19dtoC5AjCSuxi5oXKFCbkHBecJNUQoNaQ <br>
<h2 id="contact">Contact</h2>
If you have any questions or suggestions, let me know at smithrobertlawrence@gmail.com
</div>
<p>With thanks to <a href="http://www.coindesk.com/price/">Coindesk</a>, <a href="http://www.cryptsy.com">Cryptsy</a>, <a href="http://www.coinwarz.com/cryptocurrency">Coinwarz</a> and <a href="http://www.coinplorer.com">Coinplorer</a></p>
<br><p><b>*</b> The rank shown will likely decrease quickly, as these cryptocurrencies were designed to release most of their coins very quickly, increasing demand and inflating the price early
on. As a result the amount of USD mined per day will start out high, then likely decrease drastically over time as the number of coins mined per day falls. </p>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../bootstrap-dist/js/bootstrap.min.js"></script>

</body>
